html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: white;
}

.header {
  display: flex;
  align-items: center;
  background-color: #48779F;
  padding: 16px;
}

.header > .title {
  flex: auto;
  color: white;
}

.header > .action {
  color: white;
  cursor: pointer;
  margin-left: 10px;
  text-decoration: underline;
}

.header > .action-install-app {
  display: none;
}

.container {
  flex: auto;
  overflow-y: auto;
}

.container > .message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.side-action {
  position: fixed;
  bottom: 16px;
  right: 10px;
  height: 69px;
}